<%- include header %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<nav class="navbar navbar-light bg-light">
    <a href="/"><span class="navbar-brand mb-0 h1"><%- title %></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/profile">個人數據 <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/eat">飲食列表</a>
            <a class="nav-item nav-link active" href="/bloodPressure">血壓歷史</a>
            <a class="nav-item nav-link" href="/line/logout">Log out</a>
        </div>
    </div>
</nav>
        <div class="container">
            <div class="row">
                <div id="card" class="col-sm-12">
                    
                
                </div>
            </div>
        </div>
        <script src="/javascripts/bloodPressure.js"></script>
    </body>
</html>
