<%- include header %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<nav class="navbar navbar-light bg-light">
    <a href="/"><span class="navbar-brand mb-0 h1"><%- title %></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/profile">個人數據 <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/eat">飲食列表</a>
            <a class="nav-item nav-link" href="/bloodPressure">血壓歷史</a>
            <a class="nav-item nav-link" href="/line/logout">Log out</a>
        </div>
    </div>
</nav>
        <div class="container">
            <div class="row">
                
            </div>
        </div>
        <script src="/javascripts/game.js"></script>
    </body>
</html>